		/* GENERAL */
		
		
.content {
	max-width: 1024px;
	margin: 0 auto;
}

		/* HEADER */ 
		
header {
	width: 100%;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
	-webkit-transform: translateY(-195px);
	-moz-transform: translateY(-195px);
	-ms-transform: translateY(-195px);
	-o-transform: translateY(-195px);
	transform: translateY(-195px);
}

#head {
	height: 255px;
	
}

header:hover {
	-webkit-transform: translateY(195px);
	-moz-transform: translateY(195px);
	-ms-transform: translateY(195px);
	-o-transform: translateY(195px);
	transform: translateY(195px);
}

header img {
	position: relative;
	left: 45%;
	top: 200px;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

header img:hover {
	-webkit-transform: rotate(10deg);
	-moz-transform: rotate(10deg);
	-ms-transform: rotate(10deg);
	-o-transform: rotate(10deg);
	transform: rotate(10deg);
}

#firstlink {
	position: fixed;
	font: 22px 'playfair_regular', 'Arial', sans-serif;
	text-decoration: none;
	line-height: 60px;
	color: #4b4b4b;	
}

header #firstlink b {
	font: 22px 'playfair_bold', 'Arial', sans-serif;
	text-decoration: none;
	color: #353535;
}

header h2 {
	font: 18px 'sakkal_majallabold', 'Arial', sans-serif;
	color: #4b4b4b;
	text-align: center;
	padding-top: 65px;
	margin-bottom: 15px;
	padding-bottom: 15px;
	background: url('../img/border.png') bottom center no-repeat;
}

header p {
	font: 16px 'sakkal_majallaregular', 'Arial', sans-serif;
	color: #4b4b4b;
}

		/* HOME */
		
section {
	background: #ececec;
	width: 100%;
	height: 300px;
}

section li img {
	margin-left: 39px;
	border: 10px solid #fff;
}

section li {
	float: left;
}

#first {
	margin-left: 0px;
}

		/* FOOTER */ 
