/* AUDIO */

#mute {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    display: inline-block;
    position: absolute;
    bottom: 1%;
    left: 1%;
    height: 30px;
    width: 38px;
	opacity: 0.5;
    z-index: 5;
    cursor: pointer;
    background: url('../img/sound.png') no-repeat center center;
}

/* FIN AUDIO */

/* LOADER */

#loader {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 9999;
}

#background_left,#background_right {
	position: absolute;
	width: 50%;
	height: 100%;
	background: #f9f0e4;
	opacity: 0;
	overflow: hidden;
	-webkit-transition: all .5s linear;
	   -moz-transition: all .5s linear;
		-ms-transition: all .5s linear;
		 -o-transition: all .5s linear;
			transition: all .5s linear;
}

#background_left {
	left: 0;
}

#background_right {
	right: 0;
}

.tete_dali {
	position: absolute;
	left: 50%;
	bottom: 50%;
	display: none;
	margin-left: -200px;
	bottom: 0;
}

#stache-left {
	left: 50%;
	margin-left: -260px;
	-webkit-transition: all .5s linear;
	   -moz-transition: all .5s linear;
		-ms-transition: all .5s linear;
		 -o-transition: all .5s linear;
			transition: all .5s linear;
	position: absolute;
}

#stache-right {
	right: 50%;
	margin-right: -260px;
	-webkit-transition: all .5s linear;
	   -moz-transition: all .5s linear;
		-ms-transition: all .5s linear;
		 -o-transition: all .5s linear;
			transition: all .5s linear;
	position: absolute;
}

#container {
	position: absolute;
	width: 100%;
	height: 446px;
	bottom: 0;
	margin: 0 auto;
}

/* FIN LOADER */


/* GENERAL */

.content {
	max-width: 1024px;
	margin: 0 auto;
}

/* HOME */

nav {
	height: 100%;
	min-height: 100%;
}

.flex {
	width: 100%;
	white-space: nowrap;
}

.flex .cursor_frame {
	cursor: pointer;
}

.flex li {
	display: block;
	float: left;
	width: 20%;
	overflow: hidden;
	position: relative;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-ms-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease;
}

.flex li:nth-child(5) {
	position: absolute;
	right: 0;
}

.flex li img {
	float: right;
}

#first {
	margin-right: -650px;
}

#two {
	margin-right: -530px;
}

#three {
	margin-right: -450px;
	margin-top: -400px;
}

#four {
	margin-top: -650px;
	margin-right: -750px;
}

#five {
	margin-right: -150px;
	margin-top: -160px;
}



/* HOVER HOME */

.fade {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: url(../img/border2.png) no-repeat center 50%, url(../img/moustache.png) no-repeat center 40% , rgba(0,0,0,0.5);
	opacity: 0;
	-webkit-transition: all .4s linear;
	   -moz-transition: all .4s linear;
		-ms-transition: all .4s linear;
		 -o-transition: all .4s linear;
			transition: all .4s linear;
}

.fade p {
	font: 22px sakkal_majallabold, Arial, sans-serif;
	color: #f4e4d0;
	text-align: center;
	border: 1px solid #f4e4d0;
	padding: 0 10px;
	margin: 380px auto 0;
	-webkit-transition: all .2s linear;
	   -moz-transition: all .2s linear;
		-ms-transition: all .2s linear;
		 -o-transition: all .2s linear;
			transition: all .2s linear;
}
#p1
{
	width: 144px;
}
#p2
{
	width: 144px;
}
#p3
{
	width: 124px;
}
#p4
{
	width: 105px;
}
#p5
{
	width: 61px;
}

.fade p:hover {
	background: rgba(197,197,197,0.50);
}

.flex li:hover .fade {
	opacity: 1;
}

/* FIN HOME */


/* MODELE POUR LES TRANSITIONS */

#home { 					/*DIV ENTOURANT LA PARTI HOME DU SITE*/
	width: 100%;
	height: 100%;
	position: relative;
}

/* GENERAL DIV FRAME */

#frame-one h2,#frame-two h2,#frame-three h2,#frame-four h2,#frame-five h2 {
	font: 18px 'marcellus_scregular', Arial, sans-serif;
	color: #fff;
	text-align: center;
	padding-bottom: 55px;
	padding-top: 25px;
	background: url(../img/moustache.png) no-repeat center bottom;
}

#frame-one p,#frame-two p,#frame-three p,#frame-four p,#frame-five p {
	font: 20px 'Helvetica', Arial, sans-serif;
	color: #fff;
	text-align: center;
	padding: 30px 25px 0 25px;
}

/* BUTTON */

.button-left {
	height: 50px;
	width: 35px;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 0;
	background: url(../img/arrow_right.png) no-repeat center center transparent;
	-webkit-transform: rotate(180deg);
	   -moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		 -o-transform: rotate(180deg);
			transform: rotate(180deg);
	cursor: pointer;
	position: absolute;
	left: 0;
	top: 50%;
	-webkit-transition: all .2s ease;
	   -moz-transition: all .2s ease;
		-ms-transition: all .2s ease;
		 -o-transition: all .2s ease;
			transition: all .2s ease;
}

.button-right {
	height: 50px;
	width: 35px;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 0;
	background: url(../img/arrow_right.png) no-repeat center center transparent;
	cursor: pointer;
	position: absolute;
	right: 0;
	top: 50%;
	-webkit-transition: all .2s ease;
	   -moz-transition: all .2s ease;
		-ms-transition: all .2s ease;
		 -o-transition: all .2s ease;
			transition: all .2s ease;
}

.button-down {
	position: absolute;
	height: 30px;
	width: 100px;
	border: 1px solid #fff;
	text-align: center;
	text-transform: uppercase;
	font: 18px sakkal_majallaregular, Arial, sans-serif;
	background: transparent;
	line-height: 30px;
	color: #fff;
	margin: 0;
	padding: 0;
	cursor: pointer;
	top: 80%;
	left: 46%;
}

.button-home {
	position: relative;
	height: 30px;
	width: auto;
	border: 0;
	text-align: center;
	font: 24px 'marcellus_scregular', Arial, sans-serif;
	background: transparent;
	line-height: 30px;
	color: #fff;
	margin-top: 2%;
	padding: 0;
	cursor: pointer;
	left: 84%;
}

/* BUTTON HOVER */
.btn1:hover {
	background-color: #4a6a39;
}

.btn2:hover {
	background-color: #59403c;
}

.btn3:hover {
	background-color: #758f84;
}

.btn4:hover {
	background-color: #c8ab93;
}

.btn5:hover {
	background-color: #7e1617;
}

/* CSS FRAME 1 */
/*********** SECTION - FRAME 1 - **********/
#section1tab1 {
	background: url(../img/marche_esclaves_apparition_buste_Voltaire_COVER.jpg) no-repeat center center fixed;
	/*background: red;*/
	-webkit-background-size: cover;
	   -moz-background-size: cover;
		 -o-background-size: cover;
			background-size: cover;
	position: relative;
	width: 100%;
	height: 100%;
}

#section2tab1 {	
	background: url(../img/marche_esclaves_apparition_buste_Voltaire_COVER.jpg) no-repeat 100% 50% fixed;
	background-size: 1598px 1111px;
	position: relative;
	width: 100%;
	height: 100%;
}

	#section2tab1 p {
		width: 250px;
		background: #4a6a39;
		padding: 25px 30px;
		margin-left: 130px;  
	}

#section3tab1 {
	background: url(../img/marche_esclaves_apparition_buste_Voltaire_COVER.jpg) no-repeat -0% 50% fixed;
	background-size: 1598px 1111px;
	position: relative;
	width: 100%;
	height: 100%;
}
#section3tab1 p.text {
	width: 238px;
	height: 268px;
	overflow:scroll;
	background: #4a6a39;
	padding: 25px 30px;
	margin-left: 90px;  
}

	#section3tab1 p.citation {
		position: absolute;
		background: #fff;
		color: #4a6a39;
		bottom: 25px;
		left: 50%;
		margin-left: -210px;
		width: 420px;
		padding: 10px 0 10px 0;
	}
/*********** SECTION - FRAME 1 - FIN **********/

#frame-one .bloc {
	width: 450px;
	height: 350px;
	margin: 0 auto;
	position: relative;
	top: 20%;
	background: #4a6a39;
}

/* CSS FRAME 2 */
#frame-two .bloc {
	width: 450px;
	height: 330px;
	margin: 0 auto;
	position: relative;
	top: 20%;
	background: #59403c;
}
/*********** SECTION - FRAME 2 - **********/
#section1tab2 {
	background: url(../img/lion_cheval_dormeuse_invisibles_COVER.jpg) no-repeat center center fixed;
	/*background: red;*/
	-webkit-background-size: cover;
	   -moz-background-size: cover;
		 -o-background-size: cover;
			background-size: cover;
	position: relative;
	width: 100%;
	height: 100%;
}

#section2tab2 {	
	background: url(../img/lion_cheval_dormeuse_invisibles_COVER.jpg) no-repeat 100% 50% fixed;
	background-size: 1598px 1111px;
	position: relative;
	width: 100%;
	height: 100%;
}

	#section2tab2 p {
		width: 250px;
		background: #59403c;
		padding: 25px 30px;
		margin-left: 130px;  
	}
/*********** SECTION - FRAME 2 - FIN **********/

/* CSS FRAME 3 */

#frame-three {
	background: url(../img/apparition_visage_compotier_sur_plage_COVER.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
		 -o-background-size: cover;
			background-size: cover;
	position: relative;
}

#frame-three .bloc {
	width: 450px;
	height: 330px;
	margin: 0 auto;
	position: relative;
	top: 20%;
	background: #758f84;
}

/* CSS FRAME 4 */

#frame-four {
	background: url(../img/apparition_visage_compotier_sur_plage_COVER.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
		 -o-background-size: cover;
			background-size: cover;
	position: relative;
}

#frame-four .bloc {
	width: 450px;
	height: 330px;
	margin: 0 auto;
	position: relative;
	top: 20%;
	background: #c8ab93;
}

/* CSS FRAME 5 */

#frame-five {
	background: url(../img/apparition_visage_compotier_sur_plage_COVER.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
		 -o-background-size: cover;
			background-size: cover;
	position: relative;
}

#frame-five .bloc {
	width: 450px;
	height: 330px;
	margin: 0 auto;
	position: relative;
	top: 20%;
	background: #7e1617;
}

/* FOOTER SLIDE */

footer {
	clear: both;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

footer h2 {
	text-align: center;
	font: 22px sakkal_majallabold, Arial, sans-serif;
	color: #353535;
	background: url(../img/border.png) no-repeat bottom center;
	padding-bottom: 15px;
	margin-bottom: 15px;
	padding: 16px;
	border-top: 3px solid rgba(245,229,208,0.90);
}

footer p {
	text-align: justify;
	font: 18px sakkal_majallabold, Arial, sans-serif;
	color: #353535;
	padding-bottom: 30px;
	width: 600px;
	margin: 0 auto;
}

footer a {
	color: red;
	text-align: center;
}

#description {
	display: none;
	position: absolute;
	bottom: 0;
	background: rgba(250,241,230,0.90);
	width: 100%;
	cursor: pointer;
}

.slide {
	display: block;
	width: 107px;
	height: 47px;
	margin: 0 auto;
	border: 0;
	color: transparent;
	background: url(../img/button.png) no-repeat;
	opacity: 0.9;
	cursor: pointer;
}

/* SCROLL BAR */

/*
::-webkit-scrollbar {
    width: 12px;
    background: #353594;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);

}
 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    background: rgba(54,54,148,0.1);
}
*/



